a {
  text-decoration: none;
  color: teal;
  margin-bottom: 5em;
  cursor: pointer;
}

a:hover {
  color: black;
}

body {
  font-family: Arial, sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  text-align: left;
  cursor: default;
  padding: 3em;
}

#errorMessage {
  color: rgba(255, 0, 0, 0);
  display: none;
}

.login-card {
  align-content: right;
  width: 300px;
  background-color: #f7f7f7;
  padding: 1.5em; /* using em units for padding */
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 40px auto;
  position: absolute;
  top: 30%;
  right: 10%;
  transform: translateY(-50%);
}

.login-card h2 {
  text-align: center;
  margin-bottom: 0.5em; /* using em units for margin */
  color: #333;
}

.login-card form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-card input[type="text"],
.login-card input[type="password"] {
  width: 100%;
  height: 2.5em; /* using em units for height */
  margin-bottom: 0.5em; /* using em units for margin */
  padding: 0.5em; /* using em units for padding */
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-card input[type="text"]:focus,
.login-card input[type="password"]:focus {
  border-color: #aaa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-card button[type="submit"] {
  width: 100%;
  height: 2.5em; /* using em units for height */
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-card button[type="submit"]:hover {
  background-color: #3e8e41;
}

.login-card p {
  text-align: center;
  margin-top: 0.5em; /* using em units for margin */
  font-size: 0.875em; /* using em units for font size */
  color: #666;
}

.login-card a {
  text-decoration: none;
  color: #4caf50;
}

.login-card a:hover {
  color: #3e8e41;
}

.school-notices div{
   border: 1px solid black;
   width: 50%;
}