body {
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
  color: teal;
  margin-bottom: 5em;
  cursor: pointer;
}

a:hover {
  color: black;
}

.Main {
  display: flex;
  padding-top: 120px;
  padding-left: 100px;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.Main img{
  padding-top: 70px;
  transition: transform 0.2s ease-in-out;
  width: 170px;
}

.Main img:hover{
  transform: scale(1.2);
}

.Main h1{
  font-size: 100px;
  font-weight: bolder;
  padding-left: 70px;
  padding-bottom: 20px;
}

body {
  font-family: Arial, sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  text-align: left;
  cursor: default;
  padding: 3em;
}

#errorMessage {
  color: rgb(255, 0, 0);
  display: none;
}

.login-card {
  margin-top: 20px;
  align-content: right;
  width: 300px;
  background-color: #ffffff;
  padding: 2em; /* using em units for padding */
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 40px auto;
  position: absolute;
  top: 45%;
  right: 10%;
  transform: translateY(-50%);
}

.login-card form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-card input[type="text"],
.login-card input[type="password"] {
  width: 100%;
  height: 2.5em; /* using em units for height */
  margin-bottom: 0.5em; /* using em units for margin */
  padding: 0.5em; /* using em units for padding */
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
}

.login-card input:hover{
  transform: scale(1.1);
}

.login-card label{
  font-weight: bold;
}

.login-card input[type="text"]:focus,
.login-card input[type="password"]:focus {
  border-color: #aaa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-card button[type="submit"] {
  width: 100%;
  height: 2.5em; /* using em units for height */
  background-color: #a1a1a1;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  font-size: 15px;
}

.login-card button[type="submit"]:hover {
  background-color: #7c7c7c;
  transform: scale(1.1);
}

.login-card p {
  text-align: center;
  margin-top: 0.5em; /* using em units for margin */
  font-size: 0.875em; /* using em units for font size */
  color: #666;
}

.login-card a {
  text-decoration: none;
  color: #4caf50;
}

.login-card a:hover {
  color: #3e8e41;
}

.school-notices div{
   border: 1px solid black;
   width: 50%;
}