#mission-page {
    display: flex;
    width: 100%;
}

div.leftMission {
    display: flex;
    width: 50%;
    background-color: yellow;
    left: 100%;
    top: auto;
}

div.rightMission {
    width: 50%;
}