a:not(#LogoImg){
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.credits{
  background-color: teal;
  font-weight: bold;
  border-radius: 15px;
  border: solid 2px black;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header {
  cursor: default;
  background-color: #2c3e50;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 1;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  color: white;
  justify-content: space-between;
}

.header div.logo img {
  width: 3em;
  height: 3em;
  margin-right: 1em;
  margin-left: 10em;
  transition: transform 0.3s ease-in-out;
}

.header div.logo img:hover{
  transform: scale(1.2);
}

.header div.logo{
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  font-size: small;
}

.page {
  /* padding: 20px; */
  height: 100vh;
  /* padding-top: 5em; */
}

.nav {
  text-align: center;
  display: inline-flex;
  align-items: center;
}

a:not(#LogoImg) {
  text-decoration: none;
  color: gray;
  padding: 10px;
  transition: transform 0.3s ease-in-out, border-bottom 0.3s ease;
}

a:hover:not(.login, #LogoImg) {
  transform: scale(1.1);
  color: white;
  border-bottom: 1px solid teal;
}

.nav-page {
  text-align: center;
  display: inline-flex;
  align-items: center;
}

.nav-page a {
  text-decoration: none;
  color: gray;
  padding: 10px;
  transition: transform 0.3s ease-in-out, border-bottom 0.3s ease;
}

.nav-page a:hover {
  transform: scale(1.1);
  color: white;
  border-bottom: 1px solid teal;
}

#LoginButton {
  display: flex-end;
}

#LoginButton img {
  padding: 0.2em 1em;
  width: 3em;
  transition: transform 0.3s ease-in-out;
}

#LoginButton img:hover {
  color: white;
  padding: 0.2em 1em;
  transform: scale(1.1);
}

